<div class="container">
  <main>
    <div class="py-3 text-center">
      <h2>ALTA PRODUCTO</h2>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">SELECCIONA UN PAÍS</span>
        </h4>

        <app-tabla-paises (PasamosUnPais)="tomarPaisSeleccionado($event)"></app-tabla-paises>

        <br />
      </div>


      <div class="col-md-7 col-lg-8">
        <form [formGroup]="formAlta" (ngSubmit)="agregarProducto()">
          <h4 class="mb-3 text-primary">DATOS PRODUCTO</h4>
          <div class="row g-3">

            <!-- CONTROL CODIGO -->
            <div class="col-md-3">
              <label for="codigo" class="form-label">Código</label>
              <input type="number" formControlName="codigo" class="form-control" formControlName="codigo" required />
              <small style="color: red; "
                *ngIf="formAlta.controls['codigo'].errors?.['required'] && formAlta.controls['codigo'].touched">
                El Código es requerido
              </small>
            </div>

            <!-- CONTROL DESCRIPCION -->
            <div class="col-sm-6">
              <label for="descripcion" class="form-label">Descripción</label>
              <input type="text" class="form-control" formControlName="descripcion" required />
              <small style="color: red; "
                *ngIf="formAlta.controls['descripcion'].errors?.['required'] && formAlta.controls['descripcion'].touched">
                La descripción es requerida
              </small>
            </div>

            <!-- CONTROL PRECIO -->
            <div class="col-md-3">
              <label for="precio" class="form-label">Precio</label>
              <input type="number" formControlName="precio" class="form-control" formControlName="precio" required />
              <small style="color: red; "
                *ngIf="formAlta.controls['precio'].errors?.['required'] && formAlta.controls['precio'].touched">
                El Precio es requerido
              </small>
            </div>

            <!-- CONTROL STOCK -->
            <div class="col-md-3">
              <label for="stock" class="form-label">Stock</label>
              <input type="number" formControlName="stock" class="form-control" formControlName="stock" required />
              <small style="color: red; "
                *ngIf="formAlta.controls['stock'].errors?.['required'] && formAlta.controls['stock'].touched">
                El stock es requerido
              </small>
            </div>

            <!-- CONTROL COMESTIBLE -->
            <!-- <div class="col-md-5" style="width: contain">
              <label for="comestible" class="form-label">¿Comestible? </label><br />
              <select id="comestible" formControlName="comestible" required>
                <option value="">Seleccione uno</option>
                <option value="si">SI</option>
                <option value="no">NO</option>
              </select>
              <br />
              <small style="color: red; "
                *ngIf="formAlta.controls['comestible'].errors?.['required'] && formAlta.controls['comestible'].touched">
                Comestible es requerido
              </small>
            </div> -->

            <!-- CONTROL PAIS ORIGEN -->
            <div class="col-sm-6">
              <label for="paisOrigen" class="form-label">Pais</label>
              <div style="display: flex">
                <input type="text" class="form-control" formControlName="paisOrigen" required readonly />
                <!-- <img
                  *ngIf="paisOrigen?.flags.png"
                  style="
                    margin-left: 1rem;
                    width: 50px;
                    height: 50px;
                    border: 3px solid #000;
                    border-radius: 50%;
                  "
                  src="{{ paisForm?.flags.png }}"
                  alt=""
                /> -->
                <!-- IMAGEN DEL PAIS -->
                <!-- <img
                    *ngIf="nuevoProducto.paisOrigen"
                    style="margin-left: 1rem; width: 60px; height: 50px;"
                    src="{{ nuevoProducto.banderaPais }}"
                    alt=""
                  /> -->

              </div>
              <small style="color: red"
                *ngIf="formAlta.controls['paisOrigen'].errors?.['required'] && formAlta.controls['paisOrigen'].touched">
                El pais es requerido
              </small>
            </div>

            <hr class="my-4" />

            <button class="w-100 btn btn-primary btn-lg" type="submit">
              Registrar Producto
            </button>

          </div>
        </form>
      </div>
    </div>

  </main>

</div>