<form [formGroup]="forma" (ngSubmit)="eliminarContainer(this.containerAEliminar?.id)">
  <div class="row g-3">
    <!-- CONTROL CODIGO -->
    <div>
      <label for="codigo" class="form-label">Código</label>
      <input type="number" formControlName="codigo" class="form-control" formControlName="codigo"
        [ngModel]="containerAEliminar?.codigo" readonly />
    </div>

    <!-- CONTROL EMPRESA -->
    <div>
      <label for="empresa" class="form-label">Empresa</label>
      <input type="text" class="form-control" formControlName="empresa" required [ngModel]="containerAEliminar?.empresa"
        readonly />
      <small style="color: red;"
        *ngIf="forma.controls['empresa'].errors?.['required'] && forma.controls['empresa'].touched">
        La empresa es requerida
      </small>
    </div>
    <!-- CONTROL CAPACIDAD -->
    <div>
      <label for="capacidad" class="form-label">Capacidad</label>
      <input type="number" formControlName="capacidad" class="form-control" formControlName="capacidad" required
        [ngModel]="containerAEliminar?.capacidad" readonly />
      <small style="color: red;"
        *ngIf="forma.controls['capacidad'].errors?.['required'] && forma.controls['capacidad'].touched">
        La capacidad es requerida
      </small>
    </div>
  </div>

  <hr class="my-4" />

  <button class="w-100 btn btn-primary btn-lg" type="submit">
    Eliminar container
  </button>
</form>