<main>
  <div class="container py-4">


    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">LISTADO DE PRODUCTOS</h1>
        <app-listado-productos (PasamosUnProducto)="tomarProductoSeleccionado($event)"></app-listado-productos>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>INFORMACIÓN PRODUCTO</h2>

          <app-informacion-producto [productoRecibido]="productoActivo"></app-informacion-producto>

        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>INFORMACIÓN PAIS</h2>
          <app-informacion-pais [paisRecibido]="productoActivo.paisOrigen"></app-informacion-pais>
        </div>
      </div>
    </div>

  </div>
</main>