<div class="container">

    <div class="form-signin w-100 ">
        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 fw-normal">Iniciar sesion</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
                    formControlName="email" required>

                <label for="floatingInput">Email</label>
                @if(formLogin.get('email'); as aux){ @if(aux.invalid && (aux.dirty ||
                aux.touched)){
                <div class="alert hide alert-danger" role="alert" style="padding: 1px">
                    {{ aux.hasError("required") ? "Es requerido" : "Es invalido" }}
                </div>
                } }
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password"
                    formControlName="password" required>

                <label for="floatingPassword">Password</label>
                @if(formLogin.get('password'); as aux){ @if(aux.invalid && (aux.dirty ||
                aux.touched)){
                <div class="alert hide alert-danger" role="alert" style="padding: 1px">
                    {{ aux.hasError("required") ? "Es requerido" : "Es invalido" }}
                </div>
                } }
            </div>

            <button class="btn btn-primary w-100 py-2" style="margin-bottom: 6px;" type="submit">Iniciar sesion</button>
        </form>
        <!-- <p class="p-nuevo-usuario">Nuevo usuario? Haga <a routerLink="/register">click aqui</a></p> -->

        <button class="btn btn-warning w-100 py-2" type="btn" (click)="onAccesoRapido(1)">Admin</button>
        <button class="btn btn-warning w-100 py-2" type="btn" (click)="onAccesoRapido(2)">Empleado</button>
        <br> <br>
        <button class="btn btn-dark w-100 py-2" type="btn" (click)="reiniciar()">Reiniciar</button>

    </div>
</div>